ul.options {
    display: block;
    list-style: none;
    width: 30rem;
    transition: width 0.3s;
    position: relative;
    padding-left: 10px;
}

ul.options li {
    display: block;
    background: white;
    margin: 10px auto;
    padding: 10px;
    padding-left: 5px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 2px;
}
ul.options li:hover {
    font-weight: bold;
    color: #00b4cc;
    cursor: pointer;
    transition: 0.3s all;
}

ul.options li.option-active {
    background: whitesmoke;
    font-size: 1.5rem;
    color: #00b4cc;
}
.no-options {
    color: white;
}
